@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: linear-gradient(#FFFFFF, #EAEAEA);
  background-attachment: fixed;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.project-caption {
  background: hsla(0, 0%, 100%, 0.55); 
  backdrop-filter: blur(30px);
}

.fly-in-top {
  animation: fly-in-top 0.5s;
}

.fly-in-bottom {
  animation: fly-in-bottom 0.5s;
}

.fly-in-left {
  animation: fly-in-left 0.5s;
}

.fly-in-right {
  animation: fly-in-right 0.5s;
}

@keyframes fly-in-bottom {
  0%   { 
  transform: translateY(300%); 		
  }
  100% { 
  transform: translateY(0%); 
  }
}

@keyframes fly-in-left {
  0%   { 
  transform: translateX(-300%); 		
  }
  100% { 
  transform: translateX(0%); 
  }
}

@keyframes fly-in-right {
  0%   { 
  transform: translateX(300%); 		
  }
  100% { 
  transform: translateX(0%); 
  }
}

@keyframes fly-out-top {
  0%   { 
  transform: translateY(0%); 		
  }
  100% { 
  transform: translateY(-300%); 
  }
}

@keyframes fly-out-bottom {
  0%   { 
  transform: translateY(0%); 		
  }
  100% { 
  transform: translateY(300%); 
  }
}

@keyframes fly-out-left {
  0%   { 
  transform: translateX(0%); 		
  }
  100% { 
  transform: translateX(-300%); 
  }
}

@keyframes fly-out-right {
  0%   { 
  transform: translateX(0%); 		
  }
  100% { 
  transform: translateX(300%); 
  }
}
